body p,
body span,
body label,
body{
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #17212a;
    line-height: 1.4;
}
a{
  cursor: pointer;
    text-decoration: none !important;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
small{
    font-size: inherit !important;
    color: inherit !important;
}
h1.thin,h2.thin,h3.thin,h4.thin,h5.thin,span.thin,p.thin,a.thin,small.thin,label.thin{
    font-weight: 100;
}
h1.ligh,h2.ligh,h3.ligh,h4.ligh,h5.ligh,span.ligh,p.ligh,a.ligh,small.ligh,label.ligh{
    font-weight: 300;
}
h1.regular,h2.regular,h3.regular,h4.regular,h5.regular,span.regular,p.regular,a.regular,small.regular,label.regular{
    font-weight: 400;
}
h1.medium,h2.medium,h3.medium,h4.medium,h5.medium,span.medium,p.medium,a.medium,small.medium,label.medium{
    font-weight: 500;
}
h1.semi-bold,h2.semi-bold,h3.semi-bold,h4.semi-bold,h5.semi-bold,span.semi-bold,p.semi-bold,a.semi-bold,small.semi-bold,label.semi-bold{
    font-weight: 600;
}
h1.bold,h2.bold,h3.bold,h4.bold,h5.bold,span.bold,p.bold,a.bold,small.bold,label.bold{
    font-weight: 700;
}
h1.pt-sans,h2.pt-sans,h3.pt-sans,h4.pt-sans,h5.pt-sans,span.pt-sans,p.pt-sans,a.pt-sans,small.pt-sans,label.pt-sans{
    font-family: 'PT Sans', sans-serif;
}
h1.after:after,h2.after:after,h3.after:after,h4.after:after,h5.after:after{
    content: '';
    display: block;
    position: relative;
    width: 85px;
    height: 2px;
    background-color: #9e9e9e;
    left: 0;
    right: 0;
    top: 10px;
    margin: 0px auto;
    float: none;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 15px;
}
h1, h2, h3, h4, h5{
    margin-top: 15px;
    margin-bottom: 15px;
}

.textWhite{
	color: #fff;
}
.textGrey{
    color: #8e8e8e;
}
.textBlack{
    color: #17212a;
}
.textClear{
    color: #6b6b6b;
}
.textRed{
    color: #e1222f;
}
.textBlue{
    color: #015a84;
}