/*MAQUETACION GRALS*/
a.logo{
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
a.logo>img{
    display: inline-block;
    position: relative;
    float: left;
    width: 250px;
    margin: 20px;
}

.backWhite{
    background-color: #FFFFFF;
}
a.btn1{
    display: inline-block;
    position: relative;
    float: left;
    padding: 7px 20px;
    background-color: #e81319;
    color: #FFFFFF;
    font-weight: 100;
    border: 1px solid transparent;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
a.btn1:hover{
    background-color: transparent;
    border: 1px solid #e81319;
    color: #e81319;
}

h1.lined, h2.lined, h3.lined, h4.lined{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    padding-left: 10px;
    margin: 0px;
}
h1.lined:before, h2.lined:before, h3.lined:before, h4.lined:before{
    content: '';
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0px;
    width: 2px;
    background-color: #FFFFFF;
}

div.checkbox{
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: auto;
}
div.checkbox>input{
    opacity: 0;
    position: absolute;
}
div.checkbox>div{
    display: inline-block;
    position: relative;
    float: left;
}
div.checkbox>div>svg{
    display: inline-block;
    position: relative;
    float: left;
    width: 20px;
}
div.checkbox>div>svg#nochecked{
    display: inline-block;
}
div.checkbox>div>svg#checked{
    display: none;
}
div.checkbox.active>div>svg#nochecked{
    display: none;
}
div.checkbox.active>div>svg#checked{
    display: inline-block;
}
div.checkbox>div>svg#nochecked>.unchecked{
    fill:none;
    stroke:#2a2a2a;
    stroke-miterlimit:10;
}
div.checkbox>div>svg#checked>.cheked_1{
    fill:#2a2a2a;
}
div.checkbox>div>svg#checked>.checked_2{
    fill:none;stroke:#2a2a2a;stroke-miterlimit:10;
}

div.dicrease{
    float: none;
    margin: 0px auto;
    width: 150px;
}
div.dicrease>div.input{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    padding: 0px 40px;
}
div.dicrease>div.input>input{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    height: 35px;
    padding: 0px;
    text-align: center;
}
div.dicrease>a{
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 35px;
    top: 0;
    text-align: center;
    opacity: 1;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
div.dicrease>a:hover,
div.dicrease>a:focus,
div.dicrease>a:active{
    opacity: .75;
}

div.dicrease>a.minus{
    left: 0;
}
div.dicrease>a.plus{
    right: 0;
}
div.dicrease>a>img{
    display: inline-block;
    position: absolute;
    float: left;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*MODAL*/
div#carritoModal{
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center;
  justify-content: center !important;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
div#carritoModal>div.modal-dialog{

}
div#carritoModal>div.modal-dialog>div.modal-content{
  box-shadow: none;
  background-color: #fff;
  border: none;
  border-radius: 0px;
}
div#carritoModal>div.modal-dialog>div.modal-content:before{
    content: '';
    display: inline-block;
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
    top: -15px;
    bottom: -15px;
    right: -15px;
    left: -15px;
    z-index: -1;
}
.modal-backdrop{
  background-color: rgba(0, 0, 0, 0.75) !important;
}
div#carritoModal ul.nav-tabs{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    border: 1px solid #ff2c2c;
}
div#carritoModal ul.nav-tabs>li{
    display: inline-block;
    position: relative;
    float: left;
    width: 50%;
    margin: 0px;
}
div#carritoModal ul.nav-tabs>li>a{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    border-radius: 0px;
    font-size: 15px;
    font-weight: 400;
    border: 0;
    color: #7d7d7d;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
div#carritoModal ul.nav-tabs>li>a:hover{
    background-color: inherit;
    color: #ff2c2c;
}
div#carritoModal ul.nav-tabs>li.active>a{
    background-color: #ff2c2c;
    color: #FFFFFF;
}

div#carritoModal a.delete{
    display: inline-block;
    position: relative;
    float: none;
    width: 25px;
}
div#carritoModal a.delete>img{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
}
div#carritoModal .modal-header .close{
    opacity: .5;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
div#carritoModal .modal-header .close:hover{
    opacity: 1;
}
div#carritoModal .modal-header .close>img{
    display: inline-block;
    position: relative;
    float: left;
    width: 25px;
}


section#Home{
    height: auto;
    display: inline-block;
    margin: 0px;
    bottom: -6px;
    margin-top: -6px;
}
section#Home div.vertical.backImage{
    height: 100%;
    background-position: 50% 50%;
    background-size: 100%;
    background-size: cover;
}
section#Home div.vertical.backDark{
    background-color: rgba(0, 0, 0, 0.14);
}
section#Home div.slide{
    outline: none;
}

section#Home div.slideAniosRealizando{
    height: 100vh;
    background-position: 50% 50%;
    background-size: 100%;
    background-size: cover;
}
section#Home div.slideAniosRealizando img.img20{
    width: 500px;
}

section#Productos{
    height: auto;
    background-color: #FFFFFF;
    padding: 75px 0px;
}
section#Productos>div.container{
    width: 1050px;
}
section#Productos div.vertical.backImage{
    height: 100%;
    background-position: 50% 50%;
    background-size: 100%;
    background-size: cover;
}
section#Productos ul.linea{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
section#Productos ul.linea>li{
    display: inline-block;
    position: relative;
    float: none;
    width: 25%;
}
section#Productos ul.linea>li>a{
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    background-color: #eeeeee;
    color: #848484;
    border: 1px solid #ddd;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
section#Productos ul.linea>li>a:hover{
    background-color: #FFFFFF;
}
section#Productos ul.linea>li>a.active{
    color: #ff2a45;
    background-color: #fff;
    border-bottom: 2px solid #ff1b2b;
}

section#Productos div.tabsGeneral{
    
}
section#Productos div.tabsGeneral div.item{
    outline: none;
}
section#Productos div.tabsGeneral div.item div.subItem{
    outline: none;
}
section#Productos div.tabsGeneral div.item div.subItem>a{
    border: 1px solid #ddd;
    width: 200px;
    outline: none;
    -webkit-transition: border .25s ease;
       -moz-transition: border .25s ease;
        -ms-transition: border .25s ease;
         -o-transition: border .25s ease;
            transition: border .25s ease;
}
section#Productos div.tabsGeneral div.item div.subItem>a.active{
    border: 1px solid #f00;
}
section#Productos div.tabsGeneral div.item div.subItem>a>div.img{
    height: 150px;
    border-bottom: 1px solid #DDDDDD;
}
section#Productos div.tabsGeneral div.item div.subItem>a>div.img>img{
    display: inline-block;
    position: absolute;
    max-width: 75%;
    max-height: 75%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
section#Productos div.tabsGeneral div.item div.subItem>a span{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    padding: 3px 0px;
    color: #161616;
}


section#Productos div.productos div.tittleProductos{
    background-color: #eeeeee;
    border: 1px solid #222222;
    padding: 15px;
}

section#Productos div.productos{

}
section#Productos div.productos>div.item{
    padding: 10px 0px 0px 0px;
}
section#Productos div.productos>div.item>div{
    border: 1px solid #222222;
}
section#Productos div.productos>div.item>div div.height{
    height: 150px;
}
section#Productos div.productos>div.item>div div.height a.verMas{
    display: inline-block;
    position: relative;
    pointer-events: auto;
    font-size: 13px;
    color: #ce191f;
    padding: 15px 0px;
    text-decoration: underline !important;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
section#Productos div.productos>div.item>div div.height a:hover{
    color: #161616;
}
section#Productos div.productos>div.item>div>div.sect:nth-child(1),
section#Productos div.productos>div.item>div>div.sect:nth-child(2){
    border-right: 1px solid #222222;
}
section#Productos div.productos>div.item img.product{
    display: inline-block;
    position: absolute;
    max-width: 75%;
    max-height: 75%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

section#Productos div.arrows{
    pointer-events: none;
}
section#Productos div.arrows a{
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    pointer-events: auto;
    margin: auto 0px;
    top: 0;
    bottom: 0;
    opacity: .75;
    z-index: 5;
    -webkit-transition: opacity .25s ease;
       -moz-transition: opacity .25s ease;
        -ms-transition: opacity .25s ease;
         -o-transition: opacity .25s ease;
            transition: opacity .25s ease;
}
section#Productos div.arrows a:hover{
    opacity: 1;
}


section#Productos div.arrows a>img{
    display: inline-block;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
section#Productos div.arrows a.next{
    right: -50px;
}
section#Productos div.arrows a.prev{
    left: -50px;
}





section#Servicios_1{
    height: 100vh;
    background-color: #272727;
}
section#Servicios_1 div.vertical.backImage{
    height: 100%;
    background-position: 50% 50%;
    background-size: 100%;
    background-size: cover;
}

section#Servicios_1 div.tabs{
    
}
section#Servicios_1 div.tabs>div{

}
section#Servicios_1 div.tabs>div>a{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 15px;
    margin: 5px 0px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 14px;
    background-color: #343434;
    -webkit-transition: background-color .25s ease;
       -moz-transition: background-color .25s ease;
        -ms-transition: background-color .25s ease;
         -o-transition: background-color .25s ease;
            transition: background-color .25s ease;
}
section#Servicios_1 div.tabs>div>a:hover{
    background-color: #2a2a2a;
}
section#Servicios_1 div.tabs>div>a.active{
    background-color: #ff0000 !important;
}

section#Servicios_1 div.containerTabs{

}
section#Servicios_1 div.containerTabs div.tabed{
    border: 3px solid #606060;
    margin: 5px 0px;
    outline: none;
}
section#Servicios_1 div.containerTabs div.tabed>div.tittle{

}
section#Servicios_1 div.containerTabs div.tabed>div.tittle>img{
    display: inline-block;
    position: absolute;
    float: left;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 50px;
    margin: auto 0px;
}
section#Servicios_1 div.containerTabs div.tabed>div.tittle>h3{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    padding: 15px;
    padding-left: 70px;
    text-align: left;
}
section#Servicios_1 div.containerTabs div.tabed>div.tittle>h3:before{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    padding: 5px 0px;
    color: #ffffff;
    text-shadow: 1px 1px #e81319;
    font-size: 17px;
    font-weight: 500;
}

section#Empresas{
    height: 100vh;
    background-color: #FFFFFF;
}
section#Empresas div.vertical.backDark{
    background-color: rgba(0, 0, 0, 0.14);
}
section#Empresas div.vertical.backImage{
    height: 100%;
    background-position: 50% 50%;
    background-size: 100%;
    background-size: cover;
}

section#Empresas div.tabBrand:after{
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0px;
    width: 2px;
    height: 75px;
    background-color: #b8b8b8;
}
section#Empresas div.tabBrand>div{
    width: 200px;
    height: 65px;
}
section#Empresas div.tabBrand>div a{
    font-size: 25px;
    font-weight: 900;
    line-height: 1.2;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
section#Empresas div.tabBrand>div a.active{
    color: #d7258f;
}

section#Empresas div.itemContentTab{
    outline: none;
}
section#Empresas div.itemContentTab.nuestrosClientes>div.item{
    height: 100px;
}
section#Empresas div.itemContentTab.nuestrosClientes>div.item>img{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 75%;
    max-height: 60%;
    height: auto;
    margin: auto;
}
section#Empresas div.itemContentTab.nuestrosClientes>div.item:before{
    content: '';
    display: inline-block;
    position: absolute;
    width: auto;
    height: 2px;
    left: 50px;
    right: 50px;
    bottom: 0;
    background-color: #d9d9d9;
}
section#Empresas div.itemContentTab.nuestrosClientes>div.item:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 60%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #d9d9d9;
    margin: auto 0px;
}
section#Empresas div.itemContentTab.nuestrosClientes>div.item>div{
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #d9d9d9;
    right: -9px;
    bottom: -9px;
    border-radius: 50%;
}
section#Empresas div.itemContentTab.nuestrosClientes>div.item>div:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 50%;
}
section#Empresas div.itemContentTab.marcas>div.item{
    height: 125px;
}
section#Empresas div.itemContentTab.marcas>div.item>img{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 50%;
    max-height: 50%;
    height: auto;
    margin: auto;
}
section#Empresas div.itemContentTab.marcas>div.item:before{
    content: '';
    display: inline-block;
    position: absolute;
    width: auto;
    height: 2px;
    left: 50px;
    right: 50px;
    bottom: 0;
    background-color: #d9d9d9;
}
section#Empresas div.itemContentTab.marcas>div.item:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 60%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #d9d9d9;
    margin: auto 0px;
}
section#Empresas div.itemContentTab.marcas>div.item:nth-child(2):after, section#Empresas div.itemContentTab.marcas>div.item:nth-child(2):after{
    display: none;
}
section#Empresas div.itemContentTab.marcas>div.item>div{
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #d9d9d9;
    right: -9px;
    bottom: -9px;
    border-radius: 50%;
}
section#Empresas div.itemContentTab.marcas>div.item>div:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 50%;
}
section#Empresas div.itemContentTab.partners>div.item{
    height: 125px;
}
section#Empresas div.itemContentTab.partners>div.item>img{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 50%;
    max-height: 50%;
    height: auto;
    margin: auto;
}
section#Empresas div.itemContentTab.partners>div.item:before{
    content: '';
    display: inline-block;
    position: absolute;
    width: auto;
    height: 2px;
    left: 50px;
    right: 50px;
    bottom: 0;
    background-color: #d9d9d9;
}
section#Empresas div.itemContentTab.partners>div.item:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 60%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #d9d9d9;
    margin: auto 0px;
}
section#Empresas div.itemContentTab.partners>div.item:nth-child(3):after, section#Empresas div.itemContentTab.partners>div.item:nth-child(3):after{
    display: none;
}
section#Empresas div.itemContentTab.partners>div.item:nth-child(5):after, section#Empresas div.itemContentTab.partners>div.item:nth-child(5):after{
    display: none;
}
section#Empresas div.itemContentTab.partners>div.item>div{
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #d9d9d9;
    right: -9px;
    bottom: -9px;
    border-radius: 50%;
}
section#Empresas div.itemContentTab.partners>div.item>div:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 50%;
}


section#proyectos{
    height: 100vh;
    background-color: #000400;
}
section#proyectos div.vertical.backImage{
    height: 100%;
    background-position: 50%;
    background-size: 100%;
    background-size: cover;
}
section#proyectos ul.projectList{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
section#proyectos ul.projectList>li{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
}
section#proyectos ul.projectList>li>a{
    display: inline-block;
    position: relative;
    width: 200px;
    margin: 0px auto;
    float: none;
}
section#proyectos ul.projectList>li>a>img{
    display: inline-block;
    position: absolute;
    left: 10px;
    width: 50px;
    top: 0;
    bottom: 0;
    margin: auto 0px;
}
section#proyectos ul.projectList>li>a>span{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    padding: 5px 0px 5px 80px;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 16px;
    -webkit-transition: color .25s ease;
    -moz-transition: color .25s ease;
    -ms-transition: color .25s ease;
    -o-transition: color .25s ease;
    transition: color .25s ease;
    text-align: left;
}
section#proyectos ul.projectList>li>a.active>span{
    color: #ff0000 !important;
}
section#proyectos ul.projectList>li>a.active>span:before{
    background-color: #ff0000 !important;
}
section#proyectos ul.projectList>li>a:hover>span{
    color: #ff0000;
}
section#proyectos ul.projectList>li>a>span:before{
    content: '';
    display: inline-block;
    position: absolute;
    left: 70px;
    top: 0;
    bottom: 0;
    height: 35px;
    width: 2px;
    background-color: #6b6b6b;
    margin: auto 0px;
    -webkit-transition: background-color .25s ease;
       -moz-transition: background-color .25s ease;
        -ms-transition: background-color .25s ease;
         -o-transition: background-color .25s ease;
            transition: background-color .25s ease;
}
section#proyectos ul.projectList>li>a:hover>span:before{
    background-color: #ff0000;
}
section#proyectos div.containerFullHeight>div{
    height: 100vh;
}
section#proyectos a.backImg{
    background-size: 100%;
    background-size: cover;
    background-position: 50%;
    padding: 15px;
    text-align: left;
    outline: none;
    -webkit-transition: all .35s ease;
       -moz-transition: all .35s ease;
        -ms-transition: all .35s ease;
         -o-transition: all .35s ease;
            transition: all .35s ease;
}
section#proyectos a.backImg div.contentDark{
    padding: 20px 25px;
    background-color: rgba(0, 0, 0, 0.58);
}
section#proyectos a.backImg span{
    text-shadow: 1px 1px #000;
    display: inline-block;
    position: relative;
}
section#proyectos div.content a.backImg>div.dark{
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .45s ease;
       -moz-transition: all .45s ease;
        -ms-transition: all .45s ease;
         -o-transition: all .45s ease;
            transition: all .45s ease;
}
section#proyectos div.content a.backImg>img.view{
    display: inline-block;
    position: absolute;
    width: 30px;
    opacity: 0;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
section#proyectos div.content a.backImg:hover>img.view{
    width: 55px;
    opacity: 1;
}
section#proyectos div.content a.backImg:hover>div.dark{
    background-color: rgba(0, 0, 0, 0);
}
section#proyectos div.content div.slideItem{
    outline: none;
}

section#proyectos div.content div.slideItem span.tittle{
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 15px;
    right: 15px;
    z-index: 1;
    background-color: #000000;
    padding: 5px 0px;
    text-align: center;
    color: #FFFFFF;
}
section#proyectos div.content div.slideItem div.next{
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 15px;
    right: 15px;
    bottom: 0px;
    z-index: 1;
    background-color: #000000;
    padding: 2px 0px;
    text-align: center;
}
section#proyectos div.content div.slideItem div.next>img{
    display: inline-block;
    position: relative;
    float: none;
    width: 25px;
    margin: 0px auto;
    cursor: pointer;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
section#proyectos div.content div.slideItem div.next>img:hover{
    opacity: .75;
}

section#proyectos div.content div.iluminacion_led>div:nth-child(1)>a:nth-child(1){
    height: 55vh;
}
section#proyectos div.content div.iluminacion_led>div:nth-child(1)>a:nth-child(2){
    height: 55vh;
}
section#proyectos div.content div.iluminacion_led>div:nth-child(2)>a:nth-child(1){
    height: 45vh;
}
section#proyectos div.content div.iluminacion_led>div:nth-child(2)>a:nth-child(2){
    height: 45vh;
}

section#proyectos div.content div.video_wall>a:nth-child(1){
    height: 100vh;
}

section#proyectos div.content div.pantallas_led>a:nth-child(1){
    height: 100vh;
}
section#proyectos div.content div.pantallas_led>a:nth-child(2){
    height: 100vh;
}

section#proyectos div.content div.paneles_led>a:nth-child(1){
    height: 100vh;
}

section#proyectos div.content div.reflectores_led>a:nth-child(1){
    height: 50vh;
}
section#proyectos div.content div.reflectores_led>a:nth-child(2){
    height: 50vh;
}

section#proyectos div.content div.cintas_led>a:nth-child(1){
    height: 100vh;
}
section#proyectos div.content div.cintas_led>a:nth-child(2){
    height: 100vh;
}

section#proyectos div.content div.modulos_led>a:nth-child(1){
    height: 100vh;
}

section#proyectos div.content div.video_wall_proyectos>div:nth-child(1)>a:nth-child(1){
    height: 55vh;
}
section#proyectos div.content div.video_wall_proyectos>div:nth-child(1)>a:nth-child(2){
    height: 55vh;
}
section#proyectos div.content div.video_wall_proyectos>div:nth-child(2)>a:nth-child(1){
    height: 45vh;
}
section#proyectos div.content div.video_wall_proyectos>div:nth-child(2)>a:nth-child(2){
    height: 45vh;
}

section#proyectos div.content div.indoor_1>div:nth-child(1)>a:nth-child(1){
    height: 50vh;
}
section#proyectos div.content div.indoor_1>div:nth-child(1)>a:nth-child(2){
    height: 50vh;
}
section#proyectos div.content div.indoor_1>div:nth-child(1)>a:nth-child(3){
    height: 50vh;
}
section#proyectos div.content div.indoor_1>div:nth-child(2)>a:nth-child(1){
    height: 50vh;
}
section#proyectos div.content div.indoor_1>div:nth-child(2)>a:nth-child(2){
    height: 50vh;
}
section#proyectos div.content div.indoor_1>div:nth-child(2)>a:nth-child(3){
    height: 50vh;
}

section#proyectos div.content div.outdoor_1>div:nth-child(1)>a:nth-child(1){
    height: 50vh;
}
section#proyectos div.content div.outdoor_1>div:nth-child(1)>a:nth-child(2){
    height: 50vh;
}
section#proyectos div.content div.outdoor_1>div:nth-child(1)>a:nth-child(3){
    height: 50vh;
}
section#proyectos div.content div.outdoor_1>div:nth-child(2)>a:nth-child(1){
    height: 50vh;
}
section#proyectos div.content div.outdoor_1>div:nth-child(2)>a:nth-child(2){
    height: 50vh;
}
section#proyectos div.content div.outdoor_1>div:nth-child(2)>a:nth-child(3){
    height: 50vh;
}

section#proyectos div.content div.outdoor_2>div:nth-child(1)>a:nth-child(1){
    height: 50vh;
}
section#proyectos div.content div.outdoor_2>div:nth-child(1)>a:nth-child(2){
    height: 50vh;
}
section#proyectos div.content div.outdoor_2>div:nth-child(1)>a:nth-child(3){
    height: 50vh;
}
section#proyectos div.content div.outdoor_2>div:nth-child(2)>a:nth-child(1){
    height: 50vh;
}
section#proyectos div.content div.outdoor_2>div:nth-child(2)>a:nth-child(2){
    height: 50vh;
}
section#proyectos div.content div.outdoor_2>div:nth-child(2)>a:nth-child(3){
    height: 50vh;
}



section#Home .slick-dots {
    bottom: 15px;
}
section#Home .slick-dots li button:before{
    content: '';
    background-color: #000000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    box-shadow: 0 0px 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(255, 255, 255, 0.24);
}
section#Home .slick-prev, section#Home .slick-next{
    z-index: 1;
    height: 40px;
    width: 34px;
}
section#Home .slick-prev:before, section#Home .slick-next:before{
    
}
section#Home .slick-prev{
    left: 25px;
}
section#Home .slick-next{
    right: 200px;
}
section#Home .slick-prev:before{
    content: url('../img/slide_prev.svg');
}
section#Home .slick-next:before{
    content: url('../img/slide_next.svg');
}

section#Home div.slick-slide{
    height: 100vh;
    background-position: 50% 50%;
    background-size: 100%;
    -webkit-transition-duration:3s;
    -webkit-transition-delay:1.5s;
    -webkit-transition-timing-function: linear;
    transition-property: background-size;
}
section#Home div.slick-slide.slick-active{
    background-size: 110%;
}

section#Home div.slideInnovaled .backRed{
    background-color: #e81319;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}



section#contacto{

}
section#contacto div.vheight{
    height: 100vh;
}
section#contacto div#map{
    background-color: transparent;
}
section#contacto div.transparent{
    background-color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
}
section#contacto div.vheight .content{
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px 15px;
}
span.error{
    display: inline-block;
    position: absolute;
    left: 14px;
    bottom: -3px;
    font-size: 12px;
    font-weight: 400;
    color: #e81319;
    pointer-events: none;
}
div#status{
  background-color: #1c1c1c;
  z-index: 3;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
div#status h3{
  font-size: 20px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
}
div#status h3>small{
  display: block;
  font-size: 60%;
  color: #FFFFFF;
  margin-top: 15px;
}
div#status.loading img{
  display: inline-block;
}
div#status.loading h3.success,
div#status.loading h3.error
{
  display: none;
}
div#status.success h3.loading,
div#status.success h3.error
{
  display: none;
}
div#status.error h3.success,
div#status.error h3.loading
{
  display: none;
}
div#status.success img,
div#status.error img{
  display: none;
}


/*DETALLE PRODUCTO*/
section#detalle{
    padding: 75px 0px;
}
section#detalle div.vertical.backImage{
    height: 100%;
    background-position: 50% 50%;
    background-size: 100%;
    background-size: cover;
}
section#detalle div.slideDetalleZoom{
    border: 1px solid #3c414c;
    background-color: rgba(255, 255, 255, 0.7);
}
section#detalle div.slideDetalleZoom div.item{
  height: 400px;
  outline: none;
}
section#detalle div.slideDetalleZoom div.item>img{
    display: inline-block;
    position: absolute;
    max-width: 85%;
    max-height: 85%;
    min-height: 200px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
section#detalle div.slideDetalleThumbs div.item{
    outline: none;
    padding: 5px 0px;
}
section#detalle div.slideDetalleThumbs div.item>div{
    width: 150px;
    height: 150px;
    border: 1px solid #3c414c;
    background-color: rgba(255, 255, 255, 0.7);
}
section#detalle div.slideDetalleThumbs div.item.slick-active.slick-current>div{
    border-color: #ff0000;
}
section#detalle div.slideDetalleThumbs div.item>div>img{
    display: inline-block;
    position: absolute;
    max-width: 85%;
    max-height: 85%;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
section#detalle div.slideDetalleThumbs div.item>div>img:hover{
    opacity: .75;
}
section#detalle div.slideDetalleZoom .slick-prev, 
section#detalle div.slideDetalleZoom .slick-next, 
section#detalle div.slideDetalleThumbs .slick-prev, 
section#detalle div.slideDetalleThumbs .slick-next{
  width: 35px;
  height: 35px;
}
section#detalle div.slideDetalleZoom .slick-next:before,
section#detalle div.slideDetalleThumbs .slick-next:before{
  content: url('../img/arrow_purple_next.svg');
}
section#detalle div.slideDetalleZoom .slick-prev:before,
section#detalle div.slideDetalleThumbs .slick-prev:before{
  content: url('../img/arrow_purple_prev.svg');
}

section#detalle h3.price>span{
    display: inline-block;
    position: relative;
    left: 15px;
    font-size: 14px;
    top: -2px;
}
section#detalle h3.price>span:before{
    content: '';
    display: inline-block;
    position: absolute;
    left: -8px;
    top: 0;
    bottom: 0;
    margin: auto 0px;
    height: 20px;
    width: 1px;
    background-color: #f00;
}
section#detalle p.description{
    border-width: 2px 0px 2px 0px;
    border-color: #e2e3e4;
    border-style: solid;
}
section#detalle a.st1{
    display: inline-block;
    position: relative;
    float: left;
    padding: 5px 25px;
    padding-left: 55px;
    text-align: center;
    background-color: #ce191f;
    color: #FFFFFF;
    border: 1px solid #ce191f;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
section#detalle a.st1>svg{
    display: inline-block;
    position: absolute;
    float: left;
    top: 0;
    bottom: 0;
    left: 25px;
    width: 25px;
    max-height: 85%;
    margin: auto 0px;
}
section#detalle a.st1>svg path,
section#detalle a.st1>svg polygon{
    fill: #FFFFFF;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
section#detalle a.st1:hover{
    background-color: transparent;
    color: #ce191f;
}
section#detalle a.st1:hover>svg path,
section#detalle a.st1:hover>svg polygon{
    fill: #ce191f;
}




form#formCotizar div.input-group-addon{
    background-color: #1f1f1f;
    color: #FFFFFF;
    font-weight: 100;
}
form#formCotizar .form-control{
    border: 1px solid #1f1f1f;
    outline: none;
    box-shadow: none;
    font-size: 15px;
    font-weight: 400;
    color: #666666;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #DEDEDE;
  font-size: 14px;
  font-weight: 100;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #DEDEDE;
  font-size: 14px;
  font-weight: 100;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #DEDEDE;
  font-size: 14px;
  font-weight: 100;
}
:-moz-placeholder { /* Firefox 18- */
  color: #DEDEDE;
  font-size: 14px;
  font-weight: 100;
}


section.Footer>div{
    display: inline-block !important;
    position: relative !important;
}
section.Footer div.container1{
    background-color: #1f1f1f;
    height: 250px;
}
section.Footer div.container2{
    background-color: #232323;
    height: 250px;
}
section.Footer div.container3{
    background-color: #1c1c1c;
    height: 500px;
}
section.Footer a.icon{
    font-size: 30px;
    padding: 0px 3px;
}
section.Footer a.icon2{
    font-size: 25px;
    padding: 0px 15px;
}
section.Footer div.copyright{
    background-color: #fff;
}




@media (max-width : 1300px) {
    section#Productos>div.container{
        width: 950px;
    }
    section#Productos div.tabsGeneral div.item div.subItem>a {
        width: 180px;
    }
}

@media (max-width : 1200px) {
    section#Productos div.tabsGeneral div.item div.subItem>a {
        width: 185px;
    }
    section#Productos>div.container{
        width: 750px;
    }
}

@media (max-width : 991px) {
    section#Home div.slideAniosRealizando img.img20 {
        width: 350px;
    }
    section#Productos>div.container{
        width: 70%;
    }
    section#Home div.slick-slide{
        background-size: cover !important;
    }
}

@media (max-width : 768px) {
    a.logo{
        display: none;
    }
    section#Home div.slick-slide{
        background-size: cover;
    }
    section{
        height: auto;
    }
    section div.contentV{
        position: relative;
        display: inline-block;
        height: auto;
        padding: 75px 0px;
    }
    section#ClientesMarcasPartners div.ulContent>div {
        width: 250px;
    }
    section#ClientesMarcasPartners div.ulContent>div>ul>li:after {
        content: '';
        display: inline-block;
        position: absolute;
        height: 2px;
        width: 125px;
        background-color: #FFFFFF;
        right: 0;
        left: 0;
        top: auto;
        bottom: 0;
        margin: 0px auto;
    }
    section#Productos div.productos>div.item>div div.height {
        height: auto;
    }
    section#Productos div.productos>div.item div.vertical{
        display: inline-block;
        position: relative;
    }
    section#Productos div.productos>div.item{
        text-align: center;
    }
    section#Productos div.productos>div.item>div{
        display: inline-block;
        float: none;
        margin: 0px auto;
        width: 400px;
    }
    section#Productos div.tabsGeneral div.item div.subItem>a {
        max-width: 95%;
    }
    section#Productos div.productos>div.item img.product {
        position: relative;
    }
    h1.lined:before, h2.lined:before, h3.lined:before, h4.lined:before{
        content: '';
        display: inline-block;
        position: absolute;
        height: 2px;
        width: 80px;
        top: inherit;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #FFFFFF;
    }
    section#Productos ul.linea>li {
        width: 100%;
    }
    section#Productos>div.container {
        width: 100%;
        padding: 0px 70px;
    }
    section#Home a.btn1{
        display: inline-block;
        position: relative;
        margin: 15px auto;
        float: none;
    }
}

@media (max-width : 480px) {
    section#Home div.slideAniosRealizando img.img20 {
        width: 250px;
    }
    section#Productos div.productos>div.item>div{
        max-width: 95%;
    }
}

@media (max-width : 400px) {

}

@media (max-height : 625px) {
    section{
        height: auto !important;
    }
    section div.contentV{
        position: relative;
        display: inline-block;
        height: auto;
        padding: 75px 0px;
    }
    section#Home div.slideEspecialistas div.contentV {
        padding: 35vh 0px;
    }
}